## 导入包和加载数据

In [1]:
import pandas as pd

In [29]:
train=pd.read_csv('../input/train_xy.csv')
test=pd.read_csv('../input/test_all.csv')
train.shape,test.shape

((15000, 160), (10000, 159))

In [30]:
train.head()

,cust_id,cust_group,y,x_1,x_2,x_3,x_4,x_5,x_6,x_7,...,x_148,x_149,x_150,x_151,x_152,x_153,x_154,x_155,x_156,x_157
0,110000,group_3,0,0.354167,0.604988,-99,-99,-99,-99,-99,...,1,1,1,1,1,1,1,1,3,-99
1,110001,group_3,0,0.125000,0.012058,-99,-99,-99,-99,-99,...,1,1,1,1,1,1,1,1,2,2
2,110002,group_3,0,0.333333,0.565979,0,0,0,0,0,...,1,1,2,1,1,1,1,1,2,2
3,110003,group_3,0,0.208333,0.316209,0,0,0,0,1,...,2,1,1,1,1,1,1,1,2,4
4,110004,group_3,0,0.208333,0.008061,-99,-99,-99,-99,-99,...,1,1,1,1,1,1,1,1,2,1

In [31]:
test.head()

,cust_id,cust_group,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,...,x_148,x_149,x_150,x_151,x_152,x_153,x_154,x_155,x_156,x_157
0,1,group_1,0.291667,0.555388,-99,-99,-99,-99,-99,-99,...,1,1,1,1,1,1,2,2,2,3
1,2,group_3,0.270833,0.770302,0,0,0,0,1,1,...,1,1,1,1,1,1,2,2,1,10
2,3,group_3,0.354167,0.440327,0,0,0,0,4,3,...,1,1,1,1,1,1,1,1,3,3
3,4,group_1,0.208333,0.476509,0,0,0,0,1,1,...,1,1,1,1,1,1,1,1,1,4
4,5,group_1,0.125000,0.955286,0,0,0,0,2,1,...,1,1,1,1,1,1,1,1,1,10

## 统计每列缺失值（-99）

In [15]:
for i in (train==-99).astype(int).sum(axis=0):
    print(i)

0
0
0
0
0
7689
7689
7689
7689
7689
7689
7345
7345
7345
7345
7345
7345
7689
7689
7689
7689
7689
7689
7345
7345
7345
7345
7689
7689
7689
7689
7689
7689
7345
7345
7345
7345
7345
7345
7345
7345
128
128
128
128
128
128
128
128
128
149
128
128
128
128
128
128
128
128
128
149
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
149
128
0
146
46
46
46
46
46
46
46
46
77
677
14979
10761
14979
2714
0
149
149
149
149
149
14999
14996
14989
14971
14989
14998
14995
14996
15000
14995
15000
14999
14999
14997
15000
14996
14999
14997
14987
14977
14980
14998
14990
14998
14999
14996
14997
15000
14997
14999
15000
14999
15000
14999
14993
14999
14999
5
9647
9652
9976
46
46
46
46
46
46
46
46
46
46
475
77
77
894
5936

In [33]:
# pandas DataFrame中去掉缺失值多于80%的列
# def drop_col(df, cutoff=0.5):
#     n = len(df)
#     for col_name in df.columns:
#         cnt = (df[col_name]==-99).astype(int).sum()
#         if (float(cnt) / n) > cutoff:
#             df.drop(col_name, axis=0, inplace=True)
# # drop_col(train,cutoff=0.8)
# (train['x_92']==-99).astype(int).sum()

14979

In [39]:
n_row=len(train)
print(n_row)
for col in train.columns:
    print((train[col]==-99).astype(int).sum())

15000
0
0
0
0
0
7689
7689
7689
7689
7689
7689
7345
7345
7345
7345
7345
7345
7689
7689
7689
7689
7689
7689
7345
7345
7345
7345
7689
7689
7689
7689
7689
7689
7345
7345
7345
7345
7345
7345
7345
7345
128
128
128
128
128
128
128
128
128
149
128
128
128
128
128
128
128
128
128
149
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
128
149
128
0
146
46
46
46
46
46
46
46
46
77
677
14979
10761
14979
2714
0
149
149
149
149
149
14999
14996
14989
14971
14989
14998
14995
14996
15000
14995
15000
14999
14999
14997
15000
14996
14999
14997
14987
14977
14980
14998
14990
14998
14999
14996
14997
15000
14997
14999
15000
14999
15000
14999
14993
14999
14999
5
9647
9652
9976
46
46
46
46
46
46
46
46
46
46
475
77
77
894
5936